kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: atlasmap-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: atlasmap-operator
subjects:
  - kind: ServiceAccount
    name: atlasmap-operator
    namespace: {{NAMESPACE}}